@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "./variables";

%EXTRA_Text {
  font-family: "Oswald", sans-serif;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 0.02px;
}

%AG_H7 {
  font-family: "Kodchasan", serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01px;
  opacity: 70%;
}


%AG_H8 {
  font-family: "Kodchasan", serif;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.01px;
}

%AG_H7 {
  font-family: "Kodchasan", serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01px;
  opacity: 70%;
}


%AG_H6 {
  font-family: "Kodchasan", serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02px;
  @include respond(mobile) {
    font-family: "Kodchasan", serif;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.01px;
  }
}

%AG_H5 {
  font-family: "Kodchasan", serif;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.02px;
  @include respond(mobile) {
    font-family: "Kodchasan", serif;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01px;
  }
}

%AG_H4 {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.01px;
}

%Light_text {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.01px;
  font-weight: 100;
}


%AG_H2 {
  font-family: "Kodchasan", sans-serif;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.02px;
  @include respond(mobile) {
    font-family: "Kodchasan", serif;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.02px;
  }
}

%AG_H1 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04px;
  @include respond(mobile) {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.01px;
  }
}
