$accent-orange: #f9512e;
$focus-color-but: #b2341a;
$height-mobile-top-bar: 64px;
$page-back-color: #eef7ff;
$color-text-focus: #fff;


$main-text-color: #fff;
$heder-black: #14181a;
$heder-black-0_6:rgba(20,24,26, 0.6);
$stroke: #5B6060;

$height_wrapper: 100vh;
$height_mood: 86vh;

$size-btn-picker: 110px;
$color-picker-black: #000;