$page-back-color: #eef7ff;

$main-text-color: #fff;
$heder-black: #14181a;
$heder-black-0_6:rgba(20,24,26, 0.6);
$stroke: #5B6060;
$hover: #979B9B;
$separetors: #f1f3f3;
$height_mood--tablet:50vh;
$height_wrapper: 100vh;
$height_mood: 86vh;
$height-picker: 150vh;

$size-btn-picker: 110px;
$color-picker-black: #000;
$red: #e83f14;
$button-hover: #ce3710;

%BTN-bg-grad {
    background: linear-gradient(90deg, 
    rgba(#e83f14, 1) 0%, 
    rgba(#e83f14, 1) 0.1%,
    rgba(215, 58, 19, 1) 28%,
    rgba(179, 49, 15, 1) 57%,
    rgba(130, 35, 11, 1) 100%
    );
}  

%CENTRE_WITH {
    margin: 0 auto;
    width: 1140px;
  }

  @mixin respond($breakpoint) {
    @if $breakpoint == desktop {
        @media (min-width: 1024px) { @content; }
    } @else if $breakpoint == tablet {
        @media (max-width: 1023px) and (min-width: 600px) { @content; }
    } @else if $breakpoint == mobile {
        @media (max-width: 599px) and (min-width: 375px) { @content; }
    }

    // @include respond(desktop) {
    // }

    // @include respond(tablet) {
    // }

    // @include respond(mobile) {
    // }
}