@import "../../features/styles/variables";

html {
  scroll-behavior: smooth;
  min-width: 375px;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

#root {
    // @include respond(tablet) {
    //   display: flex;
    //     flex-direction: column;
    //     height: 100vh;
    // }

    @include respond(mobile) {
    display: flex;
        flex-direction: column;
        height: fit-content;
    }
}

main {
  flex-grow: 2;
}

// @media (min-width: 1024px) {
 
// }

// @media (max-width: 1023px) {
 
// }