html {
  scroll-behavior: smooth;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

// #root {
//   position: relative;
//   z-index: -999;
// }

// @media (min-width: 1024px) {
 
// }

// @media (max-width: 1023px) {
 
// }