@import "../../features/styles/variables";
@import "../../features/styles/typograf";

.team-section {
  position: relative;
  text-align: center;
  padding-top: 24px;
  background: url("../../images/about-us-back-texture.jpg") center/cover no-repeat;
  width: 100%;
  height: 1833px;
  z-index: 0;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4); // тёмная прозрачность
    z-index: -1;
  }

  h1 {
    @extend %AG_H1;
    color: #fff;
  }

  p {
    @extend %AG_H2;
    color: #f1f3f3;
  }

  .subtitle {
    margin-top: 18px;
  }

  .description {
    margin: 48px auto;
    max-width: 1072px;
    font-weight: 300;
  }

  /* ---- Вот здесь сверху, на уровне team-section ---- */

  .about-us__wrapper {
    max-width: 1118px;
    margin: 0 auto;
    display: flex;
    gap: 20px; /* расстояние между колонками */
    justify-content: center;
    padding-bottom: 198px;
  }

  .about-us__lead {
    flex: 0 0 300px; /* фиксированная ширина для левой колонки */
  }

  .team-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    flex: 1;
    justify-content: start;
  }

  .team-card {
    background: rgba(17, 24, 26, 0.8);
    border-radius: 32px;
    width: 266px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    height: 300px;

    &.active {
      background: rgba(0, 0, 0, 0.8);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);

      p {
        height: 300px;
        font-weight: lighter;
        padding: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        color: #000;
      }
    }

    .team-photo {
      width: 110px;
      border-radius: 8px;
      margin-block: 20px 8px;
    }

    &--item--1 {
      margin-top: 155px;
    }

    h3 {
      @extend %AG_H4;
    }

    p {
      @extend %Light_text;
      margin-block: 4px 50px;
    }

    .social-icons {
      display: flex;
      justify-content: center;
      gap: 0.5rem;

      .social-link {
        color: #fff;
        transition: scale 1s;

        svg {
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }

    .team-quote {
      background-color: #fff;
      color: #000;
      border-radius: 32px;
      font-size: 0.9rem;
      line-height: 1.4;
      text-align: left;
      // padding: 16px;
      // height: 100%;
      // box-sizing: border-box;
    }
  }
}
   