@import "../../features/styles/variables";
@import "../../features/styles/typograf";

.select-trigger {
  margin: 8px 0 0;
  padding: 8px;
  border: 1px solid $heder-black;
  border-radius: 4px;
  background-color: $heder-black;
  cursor: pointer;
  color: $main-text-color;
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  width: 60vw;
  @extend %AG_H5;

}

.select-positioner {
  position: relative;
  z-index: 50;
}

.select-popup {
  max-width: 340px;
  width: 70vw;
outline-style: none;
  background-color: $heder-black;
  padding: 8px;
  color: $main-text-color;
  border-radius: 4px;
  // &:focus-visible{
  //   border: none;
  // }
  &:hover {
    outline-style: none;

  }
}

.select-item {
  padding: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  @extend %AG_H5;
position: relative;
z-index: 1;

  &:hover {
    &::after {
      content: '';
width: inherit;
height: inherit;
      border: 2px solid $stroke;
      border-radius: 5px;
      position: absolute;
      z-index: 2;
    }
  }
}

// .select-arrow {
//   background: url(../../images/icon/select/arow.svg);
// }

.gallery-page {
  .select-trigger {
    border: 1px solid $main-text-color;
    background-color: $main-text-color;
    color: $heder-black;
  }
  .select-popup {
    
    background-color: $main-text-color;
    color: $heder-black;
  }
  
}