@import "../../features/styles/variables";
@import "../../features/styles/typograf";

.ukraine-toggle-wrapper {
  position: fixed;
  top: 65%;
  right: 2%;
  width: 130px;
  height: 130px;
  z-index: 1000;

  @include respond(mobile) {
    top: 55%;
    width: 75px;
    height: 75px;
    right: 4.27vw;
  }
}