@import "../../features/styles/variables";
@import "../../features/styles/typograf";

.mood {
  position: absolute;
  display: block;
  z-index: 0;
  top: 0;
  background-color: $heder-black-0_6;
  color: $main-text-color;
  height: $height_mood;

  width: 100%;
  text-align: center;
  padding: 30vh 0 30vh;

  @include respond(tablet) {
    

    height: $height_mood--tablet;
    padding: 10vh 0 30vh;
  }

  @include respond(mobile) {
    background-color: transparent;

    height: 225px;;
    padding-top: 34px;
  }

  &-head {
    @extend %AG_H1;
  }
  &-title {
    width: 80%;
    margin: 24px auto;
    @extend %AG_H2;
    @include respond(mobile) {
      margin-bottom: 75px;
      margin-top: 11px;
      font-family: "Kodchasan", serif;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.02px;
      width: 370px;
    }
  }
 
}
