@import "../../features/styles/variables";
@import "../../features/styles/typograf";

.loading {
  width: 100%;
  height: 71vh;
  max-height: 705px;
  display: flex;
  flex-direction: column;
  background: url(../../images/load-bg.jpg) no-repeat center;
  background-size: cover; 
  @extend %EXTRA_Text;
  text-align: center;
  justify-content: center;
  color: $main-text-color;
}