@import "../../features/styles/variables";
@import "../../features/styles/typograf";
$border-radius: 8px;
%LEFT_LINE {
  @extend %AG_H8;
  border-left: solid 2px $red;
}

%CENTRE_WITH {
  margin: 0 auto;
  width: 1140px;
  @include respond(mobile) {
    width: 100%;
  }
}

.movie {
  position: relative;
  background: url("../../images/movie-item/back-texture.jpg") no-repeat center
    center / cover;
  color: $main-text-color;
  padding-bottom: 70px;
  z-index: 0;
  min-height: 100vh;
  &::before {
    top: 0;
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    // z-index: 1;
    pointer-events: none;
  }
  > * {
    position: relative;
    z-index: 2;
  }
  @include respond(mobile) {
    min-width: 375px;
  }

  h1 {
    // @extend %AG_H5;
  }
  p {
    // @extend %AG_H6;
  }

  &-row {
    margin: 56px 0 48px;
    display: flex;
    justify-content: space-between;
    .movie-link {
      margin: 12px 0 12px 0;
    }
  }

  &-header {
    padding: 32px 0 24px;
    @extend %CENTRE_WITH;
  }

  &-link {
    color: $main-text-color;
    text-decoration: none;
    @extend %AG_H6;
    line-height: 40px;
    border-bottom: 2px solid $main-text-color;
    width: fit-content;
    display: block;
    padding-inline: 3px;
    margin: 0 0 24px 0;
  }

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-page-title {
    @extend %AG_H1;
  }
  &-content {
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 0 40px 60px;
    overflow: hidden;
    z-index: 0;

    @include respond(mobile) {
        width: 100%;
        padding: 0 16px 0;
      }

    .non-mobile {
      @include respond(mobile) {
        display: none;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 100%;
      background: url("../../images/movie-item/back-photo-movie-info.jpg")
        no-repeat center / cover;
      opacity: 0.3;
      z-index: -2;
    }

    // &::after {  тень??
    //   content: "";
    //   position: absolute;
    //   left: 0;
    //   right: 0;
    //   bottom: 0;
    //   height: 150px; /* больше высота для плавности */
    //   background: linear-gradient(
    //     rgba(0, 0, 0, 0.15), /* уменьшена непрозрачность */
    //     rgba(0, 0, 0, 0)
    //   );
    //   z-index: -1;
    // }
  }
  &-coteiner-info {
    // height: 265px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 3fr;
    @extend %CENTRE_WITH;
    @include respond(mobile) {
      display: none;
    }
  }

  &-poster {
    position: relative;
    width: 100%;
    height: 475px;
    &-image {
      width: 100%;
      height: 475px;
      border-radius: 8px;
      // object-fit: cover;
      z-index: 1000;
      @include respond(mobile) {
        width: 168px;
        // display: block;
      }
    }

    &-rating-image {
      width: 14px;
      height: 18px;
      display: block;
      border-radius: 8px;
    }

    &-rating-badge {
      position: absolute;
      @extend %AG_H4;
      position: absolute;
      height: 52px;
      width: 86px;
      top: -4.5%;
      right: 0;
      background-color: #fff;
      color: rgba(0, 0, 0, 0.75);
      padding: 6px 10px;
      border-radius: 8px;
      font-weight: 500;
      line-height: 1;
      display: flex;
      align-items: center;
      gap: 4px;
      z-index: 2;

      p {
        margin-left: 18px;
        position: relative;
        &::before {
          position: absolute;
          margin-left: 10px;
          left: -30px;
          top: 3px;
          content: "";
          width: 18px;
          height: 18px;
          background: url("../../images/icon/star.svg") no-repeat;
        }
      }
    }
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modal-content {
    color: $separetors;
    background: $heder-black;
    padding: 35px;
    border-radius: 12px;
    max-width: 700px;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    font-weight: 100;
  }
  
  .modal-close-button {
    color: #fff;
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
    z-index: 100;
  }
  

  &-details {
    padding-inline-start: 20px;
    @extend %LEFT_LINE;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 100px);
    gap: 10px;
  }

  .item-1 {
    font-weight: 200;
    letter-spacing: 0.01px;
    grid-column: span 3;
    text-transform: uppercase;
  }
  
  
  .item-2 {
    @extend %AG_H5;
    font-weight: 200;
    grid-column: span 3;
    grid-row: span 2;
  }
  
  .item-3 {
    grid-column: 4 / span 3;
    grid-row: 1 / span 2;
  }

  &-title {
    @extend %AG_H2;
    // margin-bottom: 10px;

    // &-item-1 {

    // }
  }

  .movie-description {
    @extend %AG_H5;
    color: $main-text-color;

    &--link-more {
      cursor: pointer;
      color: $main-text-color;

      &:hover {
        color: $stroke;
      }
    }
  }

  &-tags {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }

  &-tag {
    background: transparent;
    color: $hover;
    border: 1px solid $stroke;
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 14px;
    text-transform: lowercase;
    width: fit-content;
    white-space: nowrap;
    @extend %AG_H6;
  }

  &-meta {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    gap: 10px 10px;
    color: $hover;
    margin: 20px 0 37px;
    // padding-inline-start: 20px;
    @extend %AG_H5;
    font-weight: 200px;

    &-item {
      padding-inline-start: 20px;
      // text-transform: uppercase;
      @extend %LEFT_LINE;
      &-p {
        margin-bottom: 0;
      }
    }
    
    &-item--mb {
      
      text-transform: uppercase;
      font-weight: 200px;
      padding-inline: 20px;
      @extend %LEFT_LINE;
    }
  }

  &-section-title {
    @extend %AG_H2;
    @extend %LEFT_LINE;
    padding-inline: 20px;

    line-height: 56px;
    text-transform: uppercase;
  }

  &-button {
    cursor: pointer;
    background: $main-text-color;
    width: 265px;
    min-height: 48px;
    height: 48px;
    border: none;
    border-radius: $border-radius;
    @extend %AG_H4;
    margin-top: 50;

    a {
      font-size: 20px;
      color: $heder-black;
      position: relative;
      @extend %AG_H4;
      margin: 0 auto;
      display: block;
      width: 160px;
      padding-left: 32px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0; // иконка слева
        transform: translateY(-50%);
        
        top: 50%;
        transform: translateY(-50%);
        background: url("../../images/icon/arrow-watch-trailer.svg")
          no-repeat center center;
        background-size: contain;
        width: 24px;
        height: 24px;
      }
    }

    &--secondary {
      background: transparent;
      border-bottom: 1px solid $button-hover;
      // margin-right: 10px;
      color: $main-text-color;
      border-radius: 0;
      position: relative;
      padding-left: 75px;
      width: 360px;
      height: 54px;
      &::before {
        position: absolute;
        content: "";
        
        width: 24px;
        height: 24px;
        background: url(../../images/icon/expand.svg) no-repeat center;

        position: absolute;
        left: 40px;
        top: 16px;
      }
      &:last-child {
        &::before {
          left: -10;
          content: "";
          background: url(../../images/icon/arrows_reload_01.svg) no-repeat
            center;
        }
        margin-top: 24px;
      }
    }
  }
  .movie-button--primary {
    @extend %BTN-bg-grad;
    color: $main-text-color;
    width: 360px;
    height: 56px;
    margin-top: 22px;
  }

  &-photos {
    @extend %CENTRE_WITH;
    
  }

  &-photo-list {
    display: flex;
    // padding-left: 20px;
  }

  &-photo {
    margin-left: 20px;
    width: 265px;
    height: 311px;
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    &--more {
      @extend %EXTRA_Text;
    }
  }

  &-cast {
    @extend %CENTRE_WITH;

  }

  &-cast-list {
    display: flex;
    gap: 20px;
  }

  &-cast-item {
    display: flex;
    text-align: left;
    div {
      height: inherit;
      padding: 45px 16px 0;
    }
  }

  &-cast-photo {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    resize: horizontal;
  }

  &-cast-name {
    @extend %AG_H4;

    display: block;
    color: $main-text-color;
    margin-bottom: 8px;
  }

  &-cast-role {
    @extend %AG_H5;
    letter-spacing: 0.01px;
    color: rgb(151, 155, 155);
    font-weight: 300;
    
  }

  &-reviews {
    @extend %CENTRE_WITH;

    margin-top: 56px;
    &-row {
      display: flex;
    }
  }
  &-review {
    background: rgba(#14181a, 0.6);
    padding: 15px;
    border-radius: $border-radius;
    border: 2px solid $stroke;

    margin-bottom: 15px;
    &--rating {
      display: flex;
      margin-left: 20px;
      min-width: 265px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      p {
        position: relative;
        &::before {
          position: absolute;
          left: -20px;
          top: 7px;
          content: "";
          width: 18px;
          height: 18px;
          background: url("../../images/icon/star.svg") no-repeat;
        }
      }
      span {
        color: $stroke;
      }
    }
    .MuiAvatar-root {
      margin: 0px 10px 0 0;
    }

    &-item--author-block {
      display: flex;
    }
    .movie-review-author--link-more {
      @extend %AG_H5;
      color: $stroke;
      cursor: pointer;
      &:hover {
        color: $main-text-color;
      }
    }
    .movie-section-title {
      margin-bottom: 48px;
      display: block;
    }
  }

  &-review-text {
    font-size: 14px;
    color: $hover;
  }

  &-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
    max-width: 1140px;;
    color: $main-text-color;
    div {
      display: flex;
      flex-direction: column;
    }
  }
  .movie-container-info--mb {
    display: none;
    @include respond(mobile) {
      display: grid;
      grid-template-columns: repeat(2, minmax(165px, 2fr));
      gap: 10px 8px;
      .movie-title--mb {
        text-transform: uppercase;
        margin: 0 0 10px;
      }
      p {
        display: inline-block;
        border-left: 1px $red solid;
        padding-inline-start: 6px;
      }
      .movie-button--mb {
        width: 160px;
        min-height: 44px;
        margin: 16px 0 0;

      }

      .movie-tags--mb {
        margin-bottom: 24px;
        flex-direction: row;
        grid-column: span 2;

        overflow-x: auto;
        scroll-snap-type: x mandatory;
       -webkit-overflow-scrolling: touch;
       &::-webkit-scrollbar {
        display: none;
       }
      }
      .movie-tag--mb {
      font-size: 12px;
      }
    }
  }
}

.photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}
